body {
    width: 400px;
}
.panel {
    margin-bottom: 0;
}
.tag {
	border: 1px solid #ddd;
	display: inline-block;
	color: #717171;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	border-radius: 2px;
	margin: 0 20px 6px 20px;
    padding: 5px 10px;
    width: 80%;
}
.tag:hover {
	border-color: #08c;
}
.success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}