<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/style.css" rel="stylesheet">

<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Status des Applications</h3>
        </div>
        <div class="panel-body">
            <div class="tag success">Container1</div>
            <div class="tag danger">Container2</div>
            <div class="tag warning">Container3</div>
            <div class="tag success">Container4</div>
            <div class="tag danger">Container5</div>
            <div class="tag warning">Container6</div>
            <div class="tag success">Container7</div>
        </div>
    </div>
</body>